# Arc Testnet RPC URL
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network

# Deployed Contract Addresses on Arc Testnet (Chain ID 5042002)
NEXT_PUBLIC_SESSION_KEY_REGISTRY_ADDRESS=0x6d588749fef454ad088aee53d78cc020238a7d13
NEXT_PUBLIC_RECIPE_GUARDRAIL_ADDRESS=0xcf0dc13ab3d1efd2eac8baf47639f45b205ad824
NEXT_PUBLIC_SHARED_EXECUTOR_PROXY_ADDRESS=0xcbd2de404cb02c45b8688883e4321f887a6f2fc2
